html, body{
  height: 100%;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg,
   #9600ff 0%,
    #AEBAF8 100%
  );
  color: #fff;;
}

button{
  background: #9600ff;
  color: #fff;
  padding: 0 45px;
  border: 2px solid #fff;
  border-radius: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2em;
  cursor: pointer;
  transition: .4s;
}

button:hover{
  background-color: #ae3dff;
}